footer {
    background-color: var(--GRAY-COLOR);
    height: 6rem;
    color: var(--SECONDARY-COLOR);
  }
  footer div {
    height: 3rem;
  }

  footer .nav-link,a{
    color: var(--SECONDARY-COLOR);
  }